<p style="color: green"><%= notice %></p>

<h1>Thedeadlines</h1>

<div id="thedeadlines">
  <% @thedeadlines.each do |thedeadline| %>
    <%= render thedeadline %>
    <p>
      <%= link_to "Show this thedeadline", thedeadline %>
    </p>
  <% end %>
</div>
<% if current_user && current_user.admin? %>
<%= link_to "New thedeadline", new_thedeadline_path,class: 'btn'%>

<% end %>
  <%= link_to "Back to thedeadlines", thedeadlines_path,class: 'btn'%>
<%= render "common/footer" %>
