<!DOCTYPE html>
<html>
  <head>
    <title>Projectmanage</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
<% if logged_in? %>
<div style-'float: right'>

  logged in as <%= current_user.username %>|
  <%= button_to 'logout',logout_path,method: :delete%>
</div>

<% flash.each do |key,value|%>
<p id= '<%= key %>'><%= value%></p>

<% end %>
<% end %>


    <%= yield %>
  </body>
</html>
